body {
    text-align: center;
}

.email-header-footer {
    height: 2rem;
    width: 100%;
    background-color: #f5c518;
}

.email-body {
    padding: 4rem 2rem;
    background-color: #1f1f1f;
    color: white;
}

.email-heading {
    font-weight: bold;
    text-decoration: underline;
}

.email-main-button {
    background-color: #f5c518;
    padding: 1rem 3rem;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 1px #888888;
}

a {
    color: lightskyblue
}

.recommendation-title{
    display: flex;
    justify-content: space-between;
    background-color: #2f2d2d;
    border: 1px solid #121212;
    box-shadow: 1px 1px 3px #121212;
    border-radius: 8px;
    padding: 1rem;
    width: 500px;
    margin: auto;
    margin-bottom: 10px;
}
