{% extends 'email.html' %}

{% block email %}
    <strong style="font-weight: bold">Welcome to IMDb!</strong>
    <p>Click on the button below to verify your account. If you did not
        sign up to IMDb then you can ignore this email.</p>

    <a href="{{ link }}">
        <button style="
            background-color: #f5c518;
            height: 4rem;
            padding: 1rem 3rem;
            border-radius: 10px;
            border: none;
            box-shadow: 1px 1px 1px #888888;"
        >
            Verify
        </button>
    </a>
    <br/>

    <p style="margin-top: 2rem">Or visit the following link:</p>
    <a href={{ link }}>{{ link }}</a>
{% endblock %}
